@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

header, footer, button, h1, h2, h3, h4, h5, p, a, .promptList, #alreadyDoneBox, #prompt, #prepareAndRecord, #visualizer, .card {
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
} 
.card-text, #transcription {
    -webkit-user-select: all; /* Safari */        
-moz-user-select: all; /* Firefox */
-ms-user-select: all; /* IE10+/Edge */
user-select: all; /* Standard */
}


/* this facilitates the animated icon */
@-webkit-keyframes opacity_change {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1.0;
    }
}

@-moz-keyframes opacity_change {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1.0;
    }
}

@-ms-keyframes opacity_change {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1.0;
    }
}

@-o-keyframes opacity_change {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1.0;
    }
}

@keyframes opacity_change {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1.0;
        ;
    }
}
 div#title {
        font-size: 1.2em;
        font-weight: bold;
    }
div#title a {
    color: inherit;
    text-decoration: none;
}
/* this shrinks the size of the font in the header for smaller screens */
@media all and (max-width: 400px) {

    div#title ,

    div#user {
        font-size: .8em;
    }
}

.bg-byu-navy {
    background-color: #002E5D;
}

.oscillate {
    animation-name: opacity_change;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* These two are for the volume meter */
div#visualizer {
    border-radius: 5px;
    background-color: #efefef;
}
div.volume {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 300px;
    margin: 1em 0em;
}

div.volume .volbox {
    border: 1px solid lightgray;
    height: 20px;
    width: 20px;
    /* border-radius: 5px; */
}


.row {
    margin: 1em;
    /* outline: 1px red solid; */
}

#timeOrRecord {
    width: 64px;
}

/* Teacher view styles */

.action-item {
    border: 0px;
}

.prompt-title {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: bold;

    padding: .375rem .75rem  .375rem 1rem;
}

.toolbar-button {
    padding: .375rem .375rem;
    border-radius: 0;
}
audio { width: 100%; }


#transcriptionBox {
    padding: .5em 1em;
    height: 200px;
}

#response {
    float: right;
}
